{% extends "top-nav.html"  %}
{% block title %}
<title>메뉴 관리</title>
{% endblock %}

{% block preScript %}
<script>
    getCategories("cafe-0001");
    getMenus("cafe-0001");
</script>
{% endblock %}

{% block content %}

<div id="menu-side-nav" class="sidenav">
  <h2><strong>CATEGORY</strong></h2>
  <div onclick="viewMenus('.menu-card')">전체</div>
  <br id="blank-category">
  <div id="add-category" value="5" onclick="toggleCategory()">+ category</div>
  <div id="add-category-box" style="display: none">
    <input id="input-category" type="text" style="width: 100%; margin-bottom: 10px; color: black;">
    <button id="btn-add-category" onclick="addCategory('cafe-0001')" style="color: black; float: right; width: 30%">등록</button>
  </div>
</div>

<div class="container" style="margin: 0 0 0 25%">
  <div class="row" id="menu-board">

        <div id="add-menu" class="col-md-6 col-lg-4 col-xl-3 py-2">
          <div class="card h-100" style="border: 1px solid darkslategrey; background-color: rgb(59, 54, 54)">
            <img id="add-image" onclick="imageUpload()" class="card-img-top img-fluid" src="../static/img/add.png" alt="Card image cap">
            <div class="card-block" style="padding: 10px 0; background-color: #3b3636; margin: auto 0">
              <p class="card-text" style="text-align: center; color: white; background-color: #3b3636">
                <input id="input-menu-name" style="color:black; text-align: center" placeholder="메뉴 이름">
              </p>
              <p class="card-text" style="text-align: center; color: white; background-color: #3b3636">
                <input id="input-menu-price" style="color:black; text-align: center" placeholder="가격">
              </p>
              <p class="card-text" style="text-align: center; color: white; background-color: #3b3636">
                <input id="upload-image" type="file" name="file" accept="image/*" style="display: none" onchange="setImage(this)">
                <button id="btn-add-menu" onclick="addMenu('cafe-0001')" style="width: 75%; color: black; font-weight: bold">메뉴 등록</button>
              </p>
            </div>
          </div>
        </div>

  </div>
</div>
{% endblock %}
