<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome/css/font-awesome.css">
  <!--<link rel="stylesheet" type="text/css" href="css/bootstrap2.css">-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!-- Stylesheet
      ================================================== -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/my-css.css">
  <link rel="stylesheet" href="../static/css/login.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

</head>
<body style="background-color: #3b3636">
<div class="login-page">
  <div class="form">
    <input id="input-id" type="text" placeholder="ID"/>
    <input id="input-pw" type="password" placeholder="PASSWORD"/>
    <button onclick="login()">Login</button>
  </div>
</div>

<script type="text/javascript" src="../static/js/login.js"></script>
</body>
</html>
